// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@media only screen and (min-width: 750px) and (orientation: landscape) {
    ion-app {
        margin-left: env(safe-area-inset-left)!important;
        margin-right: env(safe-area-inset-right)!important;
    }
}

@media only screen and (min-height: 750px) and (orientation: portrait) {
    
    ion-app {
        margin-bottom: env(safe-area-inset-bottom)!important;
        //margin-top: env(safe-area-inset-top)!important;
    }

}