#sponsorGrid {
    padding: 0px;
}

#sponsorDefaultImageRow {
    background-color: #2e5ca0;
    padding: 0px;
}

#sponsorDefaultImageRow ion-col {
    padding: 20px;
    //border-bottom: 2px solid rgb(0, 0, 0);
    //margin-bottom: 2px;
}

#sponsorImageRow {
    padding: 0px;
}

#sponsorImageRow ion-col {
    //border-bottom: 2px solid rgb(0, 0, 0);
    //margin-bottom: 2px;
    background-color: white;
}

.sponsorBtnsRow {
    padding: 0px;
    //margin-top: 5px;
}

.sponsorBtnsRow ion-col {
    //text-align: center;
    padding: 0px;
    /*padding-left: 1px;
    padding-right: 1px;*/
}

/*#sponsorBtnsRow ion-col:first-of-type {
    padding-left: 2px;
    padding-right: 1px;
}

#sponsorBtnsRow ion-col:last-of-type {
    padding-left: 1px;
    padding-right: 2px;
}*/

.sponsorBtnsRow ion-col ion-item {
    --inner-border-width: 0px;
    --border-width: 1px;
    --border-style: solid;
    --border-color: rgba(202, 0, 0, 0.9);
    --padding-bottom: 5px;
    --padding-top: 5px;
}

ion-row:nth-child(2) ion-col ion-item{
    border-top: 1px solid whitesmoke;
}

ion-row:last-of-type {
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.5);
}


.sponsorBtnsRow ion-col ion-item ion-label {
    font-weight: 500;
    font-size: 1.4rem;
}

.sponsorBtn {
    width: 100%;
    margin: 0px;
}

.sponsorBtn ion-icon {
    /*display: block;
    margin: 10px auto;*/
    font-size: 2.4rem;
    font-weight: bold;
}

ion-toolbar {
    --background: #24608a;
}

ion-toolbar ion-button {
    --color: white;
}