<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Travel</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-header>
      Transportation from Aiport:
    </ion-card-header>
    <ion-card-content>
      
      <div>

          <h2>The lifeguards and their family members can book their Brownsville or Harlingen airport shuttle on: SPI Surf Shuttle</h2>

         <!-- <a href="#" (click)="openWebsite('https://spisurfshuttle.com')">www.spisurfshuttle.com</a> -->
          <!--<div style="margin-top: 10px; margin-bottom: 10px; width: 100%; text-align: center;">
            <ion-button color="danger" (click)="openWebsite('https://spisurfshuttle.com')">
                <ion-icon color="light" name="book"></ion-icon>
                <ion-label style="color: white;">Book Now</ion-label>
            </ion-button>-->
            <div style="margin-top: 10px; margin-bottom: 10px; width: 100%; text-align: center;">
              <ion-button color="danger" (click)="openWebsite('https://spisurfshuttle.com')">
                <ion-icon slot="start" name="book"></ion-icon>
                Book Now
              </ion-button>
            </div>

          <p>Select the 7-10 group rate at $35.00/participant one-way or $60.00 round-trip!</p>
          <p>Under the special requests tab, write: LIFEGUARD CHAMPIONSHIPS</p>
      </div>
    </ion-card-content>
  </ion-card>
    
</ion-content>




