.pdfDownload {
    margin: 20px 0px;
    text-align: center;
}

ion-content {
    --ion-background-color: #24608a;
}

ion-card {
    background-color: white;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

ion-icon {
    font-size: 2.4rem;
}

ion-card-content {
    padding-inline-start: 10px!important;
    padding-inline-end: 5px!important;
}

ion-col {
    padding-right: 0px!important;
}

.accordCon {
    padding: 25px 5px 15px 5px;
  }

.buttonCon {
    margin-top: 20px;
}

.bottonCon ion-button {
    font-weight: 600;
}