.no-scroll .scroll-content{
    overflow: hidden;
}

.toolbar-background {
    background-color: #09357a;
}

.toolbar .toolbar-title {
    color: white;
}

.toolbar .bar-button .button-inner {
    color: white;
}

.toolbar .bar-button .button-inner .icon {
    font-size: 1.5em!important;
}

ion-buttons ion-icon {
    color: whitesmoke;
}

ion-buttons .icon {
    font-size: 1.5em!important;
}