<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">

    
  <ion-card>
    <ion-item-group>
      <ion-item lines="none">
        <ion-label>National Championships Schedule</ion-label>
      </ion-item>

      <ion-row>
        <ion-col size="6">
          <ion-button expand="full" shape="round" color="secondary" strong [routerLink]="['/schedule-date', 5]">
                August 5th
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" shape="round" color="secondary" strong [routerLink]="['/schedule-date', 8]">
                August 8th
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="full" shape="round" color="secondary" strong [routerLink]="['/schedule-date', 6]">
                August 6th
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" shape="round" color="secondary" strong [routerLink]="['/schedule-date', 9]">
                August 9th
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="full" shape="round" color="secondary" strong [routerLink]="['/schedule-date', 7]">
                August 7th
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" shape="round" color="secondary" strong [routerLink]="['/schedule-date', 10]">
                August 10th
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="full" shape="round" color="secondary" strong [routerLink]="['/schedule-date', 11]">
                August 11th
          </ion-button>
        </ion-col>
      </ion-row>
  <!-- </ion-item-group>
  <ion-item-group>
      <ion-item-divider id="schedulerDivider">
        <ion-label>Scheduler</ion-label>
      </ion-item-divider>-->

      <ion-row>
        <ion-col size="12">
          <ion-button expand="full" shape="round" color="secondary" strong [routerLink]="['/my-schedule']">
                My Schedule
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-item-group>


      <!--<ion-row>
        <ion-col size="6">
          <ion-item lines="full" color="secondary" strong [routerLink]="['/schedule-date', 5]" detail="false">
              <ion-label>
                August 5th
              </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="full" color="secondary" strong [routerLink]="['/schedule-date', 8]" detail="false">
              <ion-label>
                August 8th
              </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="full" color="secondary" strong [routerLink]="['/schedule-date', 6]" detail="false">
              <ion-label>
                August 6th
              </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="full" color="secondary" strong [routerLink]="['/schedule-date', 9]" detail="false">
              <ion-label>
                August 9th
              </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="full" color="secondary" strong [routerLink]="['/schedule-date', 7]" detail="false">
              <ion-label>
                August 7th
              </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="full" color="secondary" strong [routerLink]="['/schedule-date', 10]" detail="false">
              <ion-label>
                August 10th
              </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="full" color="secondary" strong [routerLink]="['/schedule-date', 11]" detail="false">
              <ion-label>
                August 11th
              </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item-group>-->
  </ion-card>
</ion-content>
